<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" /> -->
    <link rel="stylesheet" type="text/css" href="header-unknown/css/header-unknown.css" />
    <link rel="stylesheet" type="text/css" href="header-unknown/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="header-unknown/css/globals.css" />
    <!-- <meta name="author" content="AnimaApp.com - Design to code, Automated." /> -->
  </head>
  <body style="margin: 0; background: #ffffff">
    <!-- <input type="hidden" id="anPageName" name="page" value="header-unknown" /> -->
    <div class="container-center-horizontal">
      
      <div class="header-unknown">
        <div class="overlap-group">
          <div class="header-buttons">

            <!-- 메인으로 -->
            <form action="" method="get">
              <button class="header-title">Happve</button>
            </form>
            
            <!-- 커뮤니티로 -->
            <form action="" method="get">
              <button class="header-commu">평점 및 리뷰</button>
            </form>
            
            <!-- 회원가입으로 -->
            <form action="" method="get">
              <button class="header-signup">회원가입</button>
            </form>
            
            <!-- 건의하기로 -->
            <form action="" method="get">
              <button class="header-con">건의하기</button>
            </form>
            
            <!-- 로그인 -->
            <form action="" method="get">
              <button class="header-login">
                <div class="header-logintext">로그인</div>
              </button>
            </form>
            
          </div>
          
          <!-- 헤더검색 -->
          <form action="" method="post">
            <div class="header-search">
  
              <!-- <select class="header-searchdropdown">
                <option value="area">지역</option>
                <option value="restaurant">식당</option>
                <option value="food">음식</option>
              </select>
  
              <input type="text" class="header-searchinput" value="지역,식당 또는 음식 선택 후 검색">
  
              <button class="header-searchbutton">
                <div class="header-searchbuttontext">Search</div>
              </button> -->
              
            </div>
          </form>

        </div>
      </div>
      
    </div>
  </body>
</html>
