<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/searchresult/css/searchresult.css"  th:href="@{/css/searchresult/css/searchresult.css}" />
    <link rel="stylesheet" type="text/css" href="css/searchresult/css/styleguide.css" th:href="@{/css/searchresult/css/styleguide.css}"/>
    <link rel="stylesheet" type="text/css" href="css/searchresult/css/globals.css" th:href="@{/css/searchresult/css/globals.css}" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="searchresrult" />
    <div class="container-center-horizontal">
      <div class="searchresrult screen">
        <div class="overlap-group">


          <header class="header">
            <h1 class="title">Happve</h1>
            <div class="commu applesdgothicneo-medium-rhino-18px">평점 및 리뷰</div>
            <div class="header-item applesdgothicneo-medium-rhino-18px">회원가입</div>
            <div class="header-item applesdgothicneo-medium-rhino-18px">건의하기</div>
            <div class="login">
              <div class="overlap-group1">
                <div class="loginback"></div>
                <div class="logintext">로그인</div>
              </div>
            </div>
          </header>

          <!-- 상단검색 -->
          <form action="" method="post">
            <button type="" class="searchbutton"><div class="search">Search</div></button>
            <input type="text" class="searchtextbox" value="지역,식당 또는 음식"><img class="texttext" src="css/searchresult/img/texttext@1x.png" />
          </form>

        </div>
        <div class="keywordresult">
          <!-- 검색 키워드 출력 -->
          <div class="keybacktext">키워드</div>

          <div class="keybacktext-1">의 검색 결과 입니다.</div>
        </div>

        <div class="resultbox-1">
          <div class="flex-row">
            <div class="flex-col">

              <!-- 식당이름 -->
              <p class="resulttitle applesdgothicneo-regular-normal-rhino-30px">식당이름이름</p>
              <div class="flex-row-1">
                <div class="viewcount">
                  <img class="viewicon" src="css/searchresult/img/viewicon-1@1x.png" />
                  <!-- 뷰 카운트 -->
                  <p class="viewcountnum applesdgothicneo-regular-normal-rhino-15px">3,232</p>
                </div>
                <div class="bookmarkcount">
                  <img class="bookmarkcounticon" src="css/searchresult/img/bookmarkcounticon-1@1x.png" />
                  <!-- 북마크 카운트 -->
                  <p class="bookmarkcountnum applesdgothicneo-regular-normal-rhino-15px">142</p>
                </div>
              </div>
            </div>
            <div class="rating">
              <!-- 별점평균 -->
              <p class="ratingpoint applesdgothicneo-regular-normal-blue-romance-30px">4.4</p>
            </div>

            <!-- 즐겨찾기 버튼 로그인 안되있을 시 로그인 화면으로 유도-->
            <form action="" method="post">
              <button type="" class="bookmark">
                <img class="bookmarkicon" src="css/searchresult/img/bookmarkicon-1@1x.png" />
                <div class="bookmarktext applesdgothicneo-regular-normal-rhino-15px">즐겨찾기</div>
              </button>
            </form>

          </div>
          <div class="flex-col-1">
            <div class="address">
              <div class="addresstitle applesdgothicneo-regular-normal-rhino-17px">주소</div>
              <div class="flex-col-2">
                <!-- 번지주소 -->
                <p class="addressold applesdgothicneo-regular-normal-rhino-17px">서울특별시 어디구 김수로 12-1</p>
                <!-- 새주소 -->
                <p class="addressstreet applesdgothicneo-regular-normal-rhino-17px">서울시 어디구 리기동1가 21-54</p>
              </div>
            </div>
            <div class="menu">
              <div class="menutitle applesdgothicneo-regular-normal-rhino-17px">메뉴</div>
              <!-- 대표메뉴 -->
              <p class="menudata applesdgothicneo-regular-normal-rhino-17px">리코타베지&amp;아보카도샌드위치(락토,비건) / 플렉스 스테이크(락토,비건)</p>
            </div>

            <div class="morebox">
              <!-- 검색된 식당 이름 출력 -->
              <p class="moreresname applesdgothicneo-regular-normal-star-dust-20px">식당이름이름</p>
              <!-- 상세페이지로 이동 버튼 -->
              <form action="" method="post">
                <button class="morebutton applesdgothicneo-regular-normal-star-dust-20px">더보기&gt;</button>
              </form>
            </div>

            <img class="infodataline" src="css/searchresult/img/infodataline-1@1x.png" />
          </div>
        </div>

        <div class="resultbox">
          <div class="flex-row">
            <div class="flex-col">
              <div class="resulttitle applesdgothicneo-regular-normal-rhino-30px">식당이름이름</div>
              <div class="flex-row-1">
                <div class="viewcount">
                  <img class="viewicon" src="css/searchresult/img/viewicon-1@1x.png" />
                  <div class="viewcountnum applesdgothicneo-regular-normal-rhino-15px">3,232</div>
                </div>
                <div class="bookmarkcount">
                  <img class="bookmarkcounticon" src="css/searchresult/img/bookmarkcounticon-1@1x.png" />
                  <div class="bookmarkcountnum applesdgothicneo-regular-normal-rhino-15px">142</div>
                </div>
              </div>
            </div>
            <div class="rating">
              <div class="ratingpoint applesdgothicneo-regular-normal-blue-romance-30px">4.4</div>
            </div>
            <div class="bookmark">
              <img class="bookmarkicon" src="css/searchresult/img/bookmarkicon-1@1x.png" />
              <div class="bookmarktext applesdgothicneo-regular-normal-rhino-15px">즐겨찾기</div>
            </div>
          </div>
          <div class="flex-col-1">
            <div class="address">
              <div class="addresstitle applesdgothicneo-regular-normal-rhino-17px">주소</div>
              <div class="flex-col-2">
                <div class="addressold applesdgothicneo-regular-normal-rhino-17px">서울특별시 어디구 김수로 12-1</div>
                <div class="addressstreet applesdgothicneo-regular-normal-rhino-17px">
                  서울시 어디구 리기동1가 21-54
                </div>
              </div>
            </div>
            <div class="menu">
              <div class="menutitle applesdgothicneo-regular-normal-rhino-17px">메뉴</div>
              <div class="menudata applesdgothicneo-regular-normal-rhino-17px">
                리코타베지&amp;아보카도샌드위치(락토,비건) / 플렉스 스테이크(락토,비건)
              </div>
            </div>
            <div class="morebox">
              <div class="moreresname applesdgothicneo-regular-normal-star-dust-20px">식당이름이름</div>
              <div class="morebutton applesdgothicneo-regular-normal-star-dust-20px">더보기&gt;</div>
            </div>
            <img class="infodataline" src="css/searchresult/img/infodataline-1@1x.png" />
          </div>
        </div>

        <!-- <div class="resultbox">
          <div class="flex-row">
            <div class="flex-col">
              <div class="resulttitle applesdgothicneo-regular-normal-rhino-30px">식당이름이름</div>
              <div class="flex-row-1">
                <div class="viewcount">
                  <img class="viewicon" src="img/viewicon-1@1x.png" />
                  <div class="viewcountnum applesdgothicneo-regular-normal-rhino-15px">3,232</div>
                </div>
                <div class="bookmarkcount">
                  <img class="bookmarkcounticon" src="img/bookmarkcounticon-1@1x.png" />
                  <div class="bookmarkcountnum applesdgothicneo-regular-normal-rhino-15px">142</div>
                </div>
              </div>
            </div>
            <div class="rating">
              <div class="ratingpoint applesdgothicneo-regular-normal-blue-romance-30px">4.4</div>
            </div>
            <div class="bookmark">
              <img class="bookmarkicon" src="img/bookmarkicon-1@1x.png" />
              <div class="bookmarktext applesdgothicneo-regular-normal-rhino-15px">즐겨찾기</div>
            </div>
          </div>
          <div class="flex-col-1">
            <div class="address">
              <div class="addresstitle applesdgothicneo-regular-normal-rhino-17px">주소</div>
              <div class="flex-col-2">
                <div class="addressold applesdgothicneo-regular-normal-rhino-17px">서울특별시 어디구 김수로 12-1</div>
                <div class="addressstreet applesdgothicneo-regular-normal-rhino-17px">
                  서울시 어디구 리기동1가 21-54
                </div>
              </div>
            </div>
            <div class="menu">
              <div class="menutitle applesdgothicneo-regular-normal-rhino-17px">메뉴</div>
              <div class="menudata applesdgothicneo-regular-normal-rhino-17px">
                리코타베지&amp;아보카도샌드위치(락토,비건) / 플렉스 스테이크(락토,비건)
              </div>
            </div>
            <div class="morebox">
              <div class="moreresname applesdgothicneo-regular-normal-star-dust-20px">식당이름이름</div>
              <div class="morebutton applesdgothicneo-regular-normal-star-dust-20px">더보기&gt;</div>
            </div>
            <img class="infodataline" src="img/infodataline-1@1x.png" />
          </div>
        </div>
        <div class="resultbox">
          <div class="flex-row">
            <div class="flex-col">
              <div class="resulttitle applesdgothicneo-regular-normal-rhino-30px">식당이름이름</div>
              <div class="flex-row-1">
                <div class="viewcount">
                  <img class="viewicon" src="img/viewicon-1@1x.png" />
                  <div class="viewcountnum applesdgothicneo-regular-normal-rhino-15px">3,232</div>
                </div>
                <div class="bookmarkcount">
                  <img class="bookmarkcounticon" src="img/bookmarkcounticon-1@1x.png" />
                  <div class="bookmarkcountnum applesdgothicneo-regular-normal-rhino-15px">142</div>
                </div>
              </div>
            </div>
            <div class="rating">
              <div class="ratingpoint applesdgothicneo-regular-normal-blue-romance-30px">4.4</div>
            </div>
            <div class="bookmark">
              <img class="bookmarkicon" src="img/bookmarkicon-1@1x.png" />
              <div class="bookmarktext applesdgothicneo-regular-normal-rhino-15px">즐겨찾기</div>
            </div>
          </div>
          <div class="flex-col-1">
            <div class="address">
              <div class="addresstitle applesdgothicneo-regular-normal-rhino-17px">주소</div>
              <div class="flex-col-2">
                <div class="addressold applesdgothicneo-regular-normal-rhino-17px">서울특별시 어디구 김수로 12-1</div>
                <div class="addressstreet applesdgothicneo-regular-normal-rhino-17px">
                  서울시 어디구 리기동1가 21-54
                </div>
              </div>
            </div>
            <div class="menu">
              <div class="menutitle applesdgothicneo-regular-normal-rhino-17px">메뉴</div>
              <div class="menudata applesdgothicneo-regular-normal-rhino-17px">
                리코타베지&amp;아보카도샌드위치(락토,비건) / 플렉스 스테이크(락토,비건)
              </div>
            </div>
            <div class="morebox">
              <div class="moreresname applesdgothicneo-regular-normal-star-dust-20px">식당이름이름</div>
              <div class="morebutton applesdgothicneo-regular-normal-star-dust-20px">더보기&gt;</div>
            </div>
            <img class="infodataline" src="img/infodataline-1@1x.png" />
          </div>
        </div>
        <div class="resultbox">
          <div class="flex-row">
            <div class="flex-col">
              <div class="resulttitle applesdgothicneo-regular-normal-rhino-30px">식당이름이름</div>
              <div class="flex-row-1">
                <div class="viewcount">
                  <img class="viewicon" src="img/viewicon-1@1x.png" />
                  <div class="viewcountnum applesdgothicneo-regular-normal-rhino-15px">3,232</div>
                </div>
                <div class="bookmarkcount">
                  <img class="bookmarkcounticon" src="img/bookmarkcounticon-1@1x.png" />
                  <div class="bookmarkcountnum applesdgothicneo-regular-normal-rhino-15px">142</div>
                </div>
              </div>
            </div>
            <div class="rating">
              <div class="ratingpoint applesdgothicneo-regular-normal-blue-romance-30px">4.4</div>
            </div>
            <div class="bookmark">
              <img class="bookmarkicon" src="img/bookmarkicon-1@1x.png" />
              <div class="bookmarktext applesdgothicneo-regular-normal-rhino-15px">즐겨찾기</div>
            </div>
          </div>
          <div class="flex-col-1">
            <div class="address">
              <div class="addresstitle applesdgothicneo-regular-normal-rhino-17px">주소</div>
              <div class="flex-col-2">
                <div class="addressold applesdgothicneo-regular-normal-rhino-17px">서울특별시 어디구 김수로 12-1</div>
                <div class="addressstreet applesdgothicneo-regular-normal-rhino-17px">
                  서울시 어디구 리기동1가 21-54
                </div>
              </div>
            </div>
            <div class="menu">
              <div class="menutitle applesdgothicneo-regular-normal-rhino-17px">메뉴</div>
              <div class="menudata applesdgothicneo-regular-normal-rhino-17px">
                리코타베지&amp;아보카도샌드위치(락토,비건) / 플렉스 스테이크(락토,비건)
              </div>
            </div>
            <div class="morebox">
              <div class="moreresname applesdgothicneo-regular-normal-star-dust-20px">식당이름이름</div>
              <div class="morebutton applesdgothicneo-regular-normal-star-dust-20px">더보기&gt;</div>
            </div>
            <img class="infodataline" src="img/infodataline-1@1x.png" />
          </div>
        </div> -->

        
        <footer class="footer">
          <div class="overlap-group1-1">
            <div class="footerback">
              <div class="footerback1"></div>
              <div class="footerback2"></div>
            </div>
            <div class="line236"></div>
            <div class="line237"></div>
            <div class="line238"></div>
            <div class="happve">Happve</div>
            <div class="stopeatingm-eat">#stop<br />EATING<br />MEat</div>
            <p class="text-1 komet-light-rhino-14px">The issue<br />How we help<br />Get involved<br />Latest news</p>
            <div class="text-2 komet-light-rhino-14px">Facebook<br />Twitter<br />Instagram<br />Medium</div>
            <p class="address-1 komet-light-rhino-14px">
              123 Anywhere St.<br />Cityname, NY 11206<br />(123) 456-7890<br />contact@npo.org
            </p>
            <div class="contact-us komet-regular-normal-rhino-14px">CONTACT US</div>
            <div class="links komet-regular-normal-rhino-14px">LINKS</div>
            <div class="follow-us komet-regular-normal-rhino-14px">FOLLOW US</div>
          </div>
        </footer>

      </div>
    </div>
  </body>
</html>
