<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/signup/css/signup.css"  th:href="@{/css/signup/css/signup.css}" />
    <link rel="stylesheet" type="text/css" href="css/signup/css/styleguide.css" th:href="@{/css/signup/css/styleguide.css}"/>
    <link rel="stylesheet" type="text/css" href="css/signup/css/globals.css" th:href="@{/css/signup/css/globals.css}" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="signup" />
    <div class="container-center-horizontal">
      <div class="signup screen">
        <div class="overlap-group-1">

          <!-- 헤더 -->
          <header class="header">
            <form action="" method="post">
              <button class="title">Happve</button>
            </form>
            <form action="" method="post">
              <button class="commu">평점 및 리뷰</button>
            </form>
            <form action="" method="post">
              <button class="header-signup">회원가입</button>
            </form>
            <form action="" method="post">
              <button class="con">건의하기</button>
            </form>
            <form action="" method="post">
              <button class="login">
                <div class="overlap-group2">
                  <div class="loginback"></div>
                  <div class="logintext">로그인</div>
                </div>
              </button>
            </form>
          </header>

          <!-- 검색 -->
          <form action="" method="post">
            <button type="" class="searchbutton"><div class="searchbuttontext">Search</div></button>
            <input type="text" class="searchtextbox" value="지역,식당 또는 음식"></input>
          </form>

        </div>
        <div class="overlap-group">
          <div class="back">
            <div class="overlap-group">
              <div class="backimg">
                <div class="x197"></div>
              </div>
              <h1 class="title-1">#stop<br />Eating<br />meat</h1>
            </div>
          </div>

          <!-- 회원가입 박스 -->
          <div class="signupbox">
            <div class="text-4">회원가입</div>
              <!-- form시작 -->
              <form th:action="@{/signup}" th:object="${signUpForm}" method="post">
                <!-- 아이디 입력 -->
            <div class="id-input">
              <div class="id">닉네임</div>
              <input type="text" class="idinputbox" id="nickname" th:field="*{nickname}" placeholder="닉네임을 입력해주세요"><br>
              <small style="color:white" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
              <img class="line9" src="css/signup/img/line9@1x.png" />
            </div>
            <div class="input">
              <div class="pass">비밀번호</div>
              <!-- 비밀번호 입력 -->
              <input id="password" type="password" th:field="*{password}" class="passinputbox"><br>
               <small style="color:white" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
              <img class="line18" src="css/signup/img/file--18@1x.png" />
            </div>
            <div class="passinputconfirm">
              <div class="passconfirm">비밀번호 확인</div>
              <!-- 비밀번호 확인 -->
              <input id="passwordConfirm" type="password" th:field="*{passwordConfirm}" class="passconfrimbox"></input><br>
               <small style="color:white" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password Error</small>
              <img class="line18-1" src="css/signup/img/file--18@1x.png" />
            </div>
            <div class="input">
              <div class="email">Email 주소</div>
              <!-- 이메일 입력 -->
              <input id="email" type="email" th:field="*{email}" class="emailinputbox" placeholder="이메일 주소를 입력하세요"></input><br>
              <small style="color:white" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
              <img class="line18-2" src="css/signup/img/file--18@1x.png" />
            </div>
            <div class="input">
              <div class="vege">채식주의자 유형</div>
              <!-- 채식주의자 입력 -->
              <input id="vtype" type="text" th:field="*{vtype}" class="vegeinputbox" placeholder="ex) 비건, 락토, 페스코 .."></input>
              <img class="x18" src="css/signup/img/file--18@1x.png" />
            </div>
            <div class="text-3">회원가입을 통해 리뷰를 작성할 수 있습니다.<br />더 많은 채식 식당을 공유해 보세요!</div>
            <!-- 회원가입 버튼 -->
            <button type="submit" class="signupbutton">
              <div class="overlap-group2-1">
                <div class="signupback"></div>
                <div class="signupsend">회원가입 하기</div>
              </div>
            </button>
          </form>
          <!-- form끝 -->
          </div>
        </div>

        <footer class="footer">
          <div class="x239"></div>
          <div class="flex-row">
            <div class="flex-row-1">
              <div class="flex-row-2">
                <div class="happve">Happve</div>
                <div class="flex-col">
                  <div class="contact-us komet-regular-normal-rhino-14px">CONTACT US</div>
                  <div class="x236"></div>
                  <p class="address komet-light-rhino-14px">
                    123 Anywhere St.<br />Cityname, NY 11206<br />(123) 456-7890<br />contact@npo.org
                  </p>
                </div>
              </div>
              <div class="flex-col-1">
                <div class="links komet-regular-normal-rhino-14px">LINKS</div>
                <div class="x237"></div>
                <p class="text-1 komet-light-rhino-14px">
                  The issue<br />How we help<br />Get involved<br />Latest news
                </p>
              </div>
            </div>
            <div class="flex-col-2">
              <div class="follow-us komet-regular-normal-rhino-14px">FOLLOW US</div>
              <div class="x238"></div>
              <div class="text-2 komet-light-rhino-14px">Facebook<br />Twitter<br />Instagram<br />Medium</div>
            </div>
            <div class="stopeatingm-eat">#stop<br />EATING<br />MEat</div>
          </div>
        </footer>

      </div>
    </div>
  </body>
</html>
