<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/suggestion/css/suggestion.css" th:href="@{/css/suggestion/css/suggestion.css}"/>
    <link rel="stylesheet" type="text/css" href="css/suggestion/css/styleguide.css" th:href="@{/css/suggestion/css/styleguide.css}"/>
    <link rel="stylesheet" type="text/css" href="css/suggestion/css/globals.css" th:href="@{/css/suggestion/css/globals.css}"/>
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="con" />
    <div class="container-center-horizontal">
      <div class="con screen">

        <div class="header">
          <div class="happve">Happve</div>
          <div class="x54"><img class="x" src="css/suggestion/img/file------------@1x.png" /></div>
          <div class="x55"><div class="search">Search</div></div>
          <div class="text-7 applesdgothicneo-light-rhino-18px">평점 및 리뷰</div>
          <div class="text applesdgothicneo-light-rhino-18px">회원가입</div>
          <div class="text applesdgothicneo-light-rhino-18px">건의하기</div>
          <div class="x27">
            <div class="overlap-group1">
              <div class="x177"></div>
              <div class="text-10">로그인</div>
            </div>
          </div>
        </div>

        <div class="overlap-group">
          <div class="back">
            <div class="text-1">Happve에 대한 소중한 의견을 남겨주세요.</div>
            <h1 class="title">#stop<br />Eating<br />meat</h1>
          </div>

          <div class="conbox">
            <div class="overlap-group1-1">
              <div class="conback"><div class="concon">건의사항</div></div>

              <!-- 건의사항 박스 -->
      
              <form action="" method="post">
                <div class="emailinput">
                  <div class="text-6">연락받으실 이메일</div>
                  <input type="email" value="이메일을 입력하세요" class="emailinputbox">
                  <img class="x18" src="css/suggestion/img/file--18@1x.png" />
                </div>
                
                <textarea class="contextarea"></textarea>
                
                <button type="" class="conbutton">
                  <div class="overlap-group2">
                    <div class="x240"></div>
                    <div class="text-4">건의하기</div>
                  </div>
                </button>
              </form>

            </div>
          </div>

        </div>
        
        <div class="footer">
          <div class="x239"></div>
          <div class="flex-row">
            <div class="flex-row-1">
              <div class="flex-row-2">
                <div class="happve-1">Happve</div>
                <div class="flex-col">
                  <div class="contact-us komet-regular-normal-rhino-14px">CONTACT US</div>
                  <div class="x236"></div>
                  <p class="address komet-light-rhino-14px">
                    123 Anywhere St.<br />Cityname, NY 11206<br />(123) 456-7890<br />contact@npo.org
                  </p>
                </div>
              </div>
              <div class="flex-col-1">
                <div class="links komet-regular-normal-rhino-14px">LINKS</div>
                <div class="x237"></div>
                <p class="text-2 komet-light-rhino-14px">
                  The issue<br />How we help<br />Get involved<br />Latest news
                </p>
              </div>
            </div>
            <div class="flex-col-2">
              <div class="follow-us komet-regular-normal-rhino-14px">FOLLOW US</div>
              <div class="x238"></div>
              <div class="text-3 komet-light-rhino-14px">Facebook<br />Twitter<br />Instagram<br />Medium</div>
            </div>
            <div class="stopeatingm-eat">#stop<br />EATING<br />MEat</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
