/* screen - mypage */

.mypage {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1489px;
  overflow: hidden;
  width: 1920px;
}

.mypage .header {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.mypage .overlap-group3 {
  height: 128px;
  position: relative;
  width: 1920px;
}

.mypage .headerbox {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 128px;
  left: 0;
  padding: 20px 190px;
  position: absolute;
  top: 0;
}

.mypage .title {
  align-self: flex-end;
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-extrabold);
  font-size: 55px;
  font-weight: 800;
  height: 74px;
  letter-spacing: 0;
  line-height: 55px;
  text-align: center;
  width: 205px;
}

.mypage .commu {
  letter-spacing: -0.18px;
  line-height: 24px;
  margin-left: 710px;
  margin-top: 2.0px;
  min-height: 23px;
  min-width: 88px;
  white-space: nowrap;
}

.mypage .mypage-1 {
  letter-spacing: -0.18px;
  line-height: 24px;
  margin-left: 68px;
  margin-top: 2.0px;
  min-height: 23px;
  min-width: 79px;
  white-space: nowrap;
}

.mypage .con {
  letter-spacing: -0.18px;
  line-height: 24px;
  margin-left: 67px;
  margin-top: 2.0px;
  min-height: 23px;
  min-width: 64px;
  white-space: nowrap;
}

.mypage .x3 {
  align-items: flex-end;
  background-color: var(--blue-romance);
  border-radius: 24px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 131px;
  min-width: 48px;
  padding: 6.1px;
}

.mypage .icon-awesome-user-circle {
  height: 35px;
  object-fit: cover;
  width: 35px;
}

.mypage .searchbox {
  align-items: flex-start;
  display: flex;
  height: 46px;
  left: 429px;
  position: absolute;
  top: 43px;
}

.mypage .searchdropdown {
  align-items: flex-start;
  background-color: var(--blue-romance);
  border-radius: 100px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  min-width: 74px;
  padding: 12px 21.2px;
}

.mypage .searchtextboxtext {
  height: 21px;
  object-fit: cover;
  width: 31px;
}

.mypage .searchinput {
  align-items: flex-end;
  background-color: var(--blue-romance);
  border-radius: 100px;
  display: flex;
  height: 46px;
  margin-left: 5px;
  min-width: 342px;
  padding: 12px 22px;
}

.mypage .searchtextboxtext-1 {
  height: 21px;
  object-fit: cover;
  width: 139px;
}

.mypage .searchbutton {
  align-items: flex-end;
  align-self: flex-end;
  background-color: var(--rhino);
  border-radius: 100px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  margin-left: 11px;
  min-width: 150px;
  padding: 9.5px 49px;
}

.mypage .search {
  color: var(--blue-romance);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  min-height: 21px;
  min-width: 50px;
  white-space: nowrap;
}

.mypage .overlap-group {
  height: 1361px;
  position: relative;
  width: 1921px;
}

.mypage .back {
  align-items: flex-end;
  display: flex;
  height: 1055px;
  left: 0;
  position: absolute;
  top: 0;
}

.mypage .x245 {
  background-color: var(--white);
  height: 776px;
  margin-bottom: 65px;
  width: 262px;
}

.mypage .overlap-group1 {
  height: 1055px;
  position: relative;
  width: 1658px;
}

.mypage .vegetarian {
  height: 990px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1658px;
}

.mypage .x197 {
  background-color: var(--rhino);
  height: 990px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 1658px;
}

.mypage .title-1 {
  color: var(--white);
  font-family: var(--font-family-floodstd-regular);
  font-size: 72px;
  height: 364px;
  left: 98px;
  letter-spacing: 0;
  line-height: 76px;
  position: absolute;
  top: 691px;
  width: 386px;
}

.mypage .footer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 990px;
  width: 1921px;
}

.mypage .x239 {
  background-color: var(--blue-romance);
  height: 12px;
  width: 1920px;
}

.mypage .overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 359px;
  min-width: 1921px;
  padding: 100.2px 150px;
}

.mypage .flex-row {
  align-items: flex-start;
  display: flex;
  margin-top: 7.78px;
  min-width: 890px;
}

.mypage .flex-row-1 {
  align-items: center;
  display: flex;
  height: 110px;
  min-width: 626px;
}

.mypage .happve {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 50px;
  font-weight: 700;
  height: 70px;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 14.0px;
  width: 194px;
}

.mypage .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 263px;
  min-height: 110px;
  width: 169px;
}

.mypage .contact-us {
  letter-spacing: 0.56px;
  line-height: 14px;
  min-height: 20px;
  white-space: nowrap;
}

.mypage .x236 {
  align-self: flex-end;
  background-color: var(--rhino);
  height: 1px;
  margin-top: 2px;
  width: 160px;
}

.mypage .address {
  letter-spacing: -0.14px;
  line-height: 20px;
  margin-left: 4px;
  margin-top: 7px;
  min-height: 80px;
  white-space: nowrap;
}

.mypage .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 83px;
  min-height: 110px;
  width: 181px;
}

.mypage .links {
  letter-spacing: 0.56px;
  line-height: 14px;
  min-height: 20px;
  white-space: nowrap;
}

.mypage .x237 {
  align-self: flex-end;
  background-color: var(--rhino);
  height: 1px;
  margin-top: 2px;
  width: 160px;
}

.mypage .text-1 {
  letter-spacing: -0.14px;
  line-height: 20px;
  margin-left: 7px;
  margin-top: 7px;
  min-height: 80px;
  white-space: nowrap;
}

.mypage .flex-col-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 14.0px;
  margin-left: 82px;
  min-height: 129px;
  width: 182px;
}

.mypage .follow-us {
  letter-spacing: 0.56px;
  line-height: 14px;
  margin-left: 4px;
  min-height: 20px;
  white-space: nowrap;
}

.mypage .x238 {
  align-self: flex-end;
  background-color: var(--rhino);
  height: 1px;
  margin-top: 2px;
  width: 160px;
}

.mypage .text-2 {
  letter-spacing: -0.14px;
  line-height: 20px;
  margin-top: 6px;
  min-height: 100px;
  white-space: nowrap;
}

.mypage .stopeatingm-eat {
  color: var(--rhino);
  font-family: var(--font-family-floodstd-regular);
  font-size: var(--font-size-xxxxxl);
  letter-spacing: 0;
  line-height: 46px;
  margin-left: 307px;
  min-height: 138px;
  min-width: 158px;
  text-align: right;
  white-space: nowrap;
}

.mypage .bookmarkbutton {
  align-items: flex-start;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  height: 107px;
  justify-content: flex-end;
  left: 0;
  padding: 35.5px 63px;
  position: absolute;
  top: 107px;
}

.mypage .bookmarktext {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 36px;
  min-height: 35px;
  white-space: nowrap;
}

.mypage .mypagebutton {
  align-items: flex-start;
  background-color: var(--rhino);
  display: flex;
  height: 107px;
  justify-content: flex-end;
  left: 0;
  padding: 35.5px 50px;
  position: absolute;
  top: 0;
}

.mypage .mypagetext {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 35px;
  white-space: nowrap;
}

.mypage .mypagebox {
  align-items: center;
  background-color: var(--rhino);
  display: flex;
  flex-direction: column;
  left: 771px;
  padding: 53.5px 62px;
  position: absolute;
  top: 77px;
  width: 640px;
}

.mypage .myinfotext {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: -1px;
  margin-left: 2px;
  min-height: 35px;
  white-space: nowrap;
}

.mypage .mypagebox-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  min-height: 62px;
  width: 512px;
}

.mypage .email {
  letter-spacing: 0.56px;
  line-height: 14px;
  margin-top: 1px;
  min-height: 19px;
  white-space: nowrap;
}

.mypage .emailinputbox {
  letter-spacing: -0.40px;
  line-height: 32px;
  margin-bottom: -6px;
  margin-top: 1px;
  min-height: 26px;
  white-space: nowrap;
  
  opacity: 0.5;
  color: var(--white);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.mypage .line18 {
  height: 2px;
  margin-top: 13px;
  object-fit: cover;
  width: 512px;
}

.mypage .passinput {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 63px;
  width: 512px;
}

.mypage .pass {
  color: var(--white);
  font-family: var(--font-family-komet-regular);
  font-size: var(--font-size-m);
  letter-spacing: 0.56px;
  line-height: 14px;
  margin-top: 2px;
  min-height: 20px;
  white-space: nowrap;
}

.mypage .passinputbox {
  letter-spacing: -0.40px;
  line-height: 32px;
  margin-bottom: -6px;
  margin-top: 1px;
  min-height: 26px;
  white-space: nowrap;

  opacity: 0.5;
  color: var(--white);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.mypage .line18-1 {
  height: 2px;
  margin-top: 13px;
  object-fit: cover;
  width: 512px;
}

.mypage .modifipass {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  min-height: 63px;
  width: 512px;
}

.mypage .passconfrimbox {
  letter-spacing: -0.40px;
  line-height: 32px;
  margin-bottom: -6px;
  margin-top: 1px;
  min-height: 26px;
  white-space: nowrap;

  opacity: 0.5;
  color: var(--white);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.mypage .line18-2 {
  height: 2px;
  margin-top: 13px;
  object-fit: cover;
  width: 512px;
}

.mypage .modifipasstext {
  letter-spacing: 0.56px;
  line-height: 14px;
  margin-top: 1px;
  min-height: 19px;
  white-space: nowrap;
}

.mypage .emailinputbox-1 {
  letter-spacing: -0.40px;
  line-height: 32px;
  margin-bottom: -6px;
  margin-top: 1px;
  min-height: 26px;
  white-space: nowrap;

  opacity: 0.5;
  color: var(--white);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.mypage .line18-3 {
  height: 2px;
  margin-top: 13px;
  object-fit: cover;
  width: 512px;
}

.mypage .vege {
  letter-spacing: 0.56px;
  line-height: 14px;
  margin-top: 1px;
  min-height: 19px;
  white-space: nowrap;
}

.mypage .vegeinputbox {
  letter-spacing: -0.40px;
  line-height: 32px;
  margin-bottom: -6px;
  margin-top: 1px;
  min-height: 26px;
  white-space: nowrap;

  opacity: 0.5;
  color: var(--white);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.mypage .x18 {
  height: 2px;
  margin-top: 13px;
  object-fit: cover;
  width: 512px;
}

.mypage .myinfonoti {
  align-self: flex-end;
  height: 73px;
  letter-spacing: 0;
  line-height: 36px;
  margin-top: 55px;
  text-align: center;
  width: 514px;
}

.mypage .modifibutton {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 70px;
  min-width: 258px;

  border: 0;
  outline: 0;
  background-color: transparent;
}

.mypage .overlap-group1-1 {
  height: 56px;
  position: relative;
  width: 258px;
}

.mypage .modifiback {
  background-color: var(--blue-romance);
  border-radius: 100px;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 256px;
}

.mypage .modifisend {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 22px;
  font-weight: 700;
  height: 29px;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 258px;
}
