:root { 
  --blue-romance: #c1f7d5;
  --rhino: #354463;
  --rhino-2: #344362;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 44px;
  --font-size-xxxxl: 55px;
  --font-size-xxxxxl: 72px;
 
  --font-family-applesd_gothic_neo-bold: "AppleSD Gothic Neo-Bold", Helvetica;
  --font-family-applesd_gothic_neo-extrabold: "AppleSD Gothic Neo-ExtraBold", Helvetica;
  --font-family-applesd_gothic_neo-light: "AppleSD Gothic Neo-Light", Helvetica;
  --font-family-applesd_gothic_neo-regular: "AppleSD Gothic Neo-Regular", Helvetica;
  --font-family-floodstd-regular: "FloodStd-Regular", Helvetica;
  --font-family-komet-light: "Komet-Light", Helvetica;
  --font-family-komet-regular: "Komet-Regular", Helvetica;
}
.applesdgothicneo-light-rhino-18px {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.applesdgothicneo-bold-rhino-18px {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.komet-regular-normal-rhino-14px {
  color: var(--rhino);
  font-family: var(--font-family-komet-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.komet-light-rhino-14px {
  color: var(--rhino);
  font-family: var(--font-family-komet-light);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.border-1px-rhino-2 {
  border: 1px solid var(--rhino-2);
}
