/* screen - con */

.con {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1484px;
  width: 1920px;
}

.con .header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 128px;
  min-width: 1920px;
  padding: 20px 190px;
}

.con .happve {
  align-self: flex-end;
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-extrabold);
  font-size: var(--font-size-xxxxl);
  font-weight: 800;
  height: 74px;
  letter-spacing: 0;
  line-height: 55px;
  text-align: center;
  width: 205px;
}

.con .x54 {
  align-items: flex-end;
  background-color: var(--blue-romance);
  border-radius: 100px;
  display: flex;
  height: 46px;
  margin-left: 55px;
  margin-top: 4.0px;
  min-width: 401px;
  padding: 12px 22px;
}

.con .x {
  height: 21px;
  object-fit: cover;
  width: 139px;
}

.con .x55 {
  align-items: flex-end;
  background-color: var(--rhino);
  border-radius: 100px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  margin-left: 11px;
  margin-top: 4.0px;
  min-width: 150px;
  padding: 9.5px 49px;
}

.con .search {
  color: var(--blue-romance);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  min-height: 21px;
  min-width: 50px;
  white-space: nowrap;
}

.con .text-7 {
  letter-spacing: -0.18px;
  line-height: 24px;
  margin-left: 93px;
  margin-top: 2.0px;
  min-height: 23px;
  min-width: 88px;
  white-space: nowrap;
}

.con .text {
  letter-spacing: -0.18px;
  line-height: 24px;
  margin-left: 75px;
  margin-top: 2.0px;
  min-height: 23px;
  min-width: 64px;
  white-space: nowrap;
}

.con .x27 {
  align-items: flex-start;
  display: flex;
  margin-left: 75px;
  min-width: 162px;
}

.con .overlap-group1 {
  height: 48px;
  position: relative;
  width: 162px;
}

.con .x177 {
  background-color: var(--blue-romance);
  border-radius: 100px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 160px;
}

.con .text-10 {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 162px;
}

.con .overlap-group {
  height: 1028px;
  position: relative;
  width: 1920px;

  margin-top: 127px;
}

.con .back {
  align-items: flex-start;
  background-color: var(--rhino-2);
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 73px 117px;
  position: absolute;
  top: 0;
  width: 1920px;

  /* margin-top: 127px; */
}

.con .text-1 {
  color: var(--white);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 76px;
  margin-top: 231px;
  min-height: 50px;
  white-space: nowrap;
}

.con .title {
  color: var(--white);
  font-family: var(--font-family-floodstd-regular);
  font-size: var(--font-size-xxxxxl);
  height: 229px;
  letter-spacing: 0;
  line-height: 76px;
  margin-top: 372px;
  width: 260px;
}

.con .conbox {
  align-items: flex-start;
  display: flex;
  height: 856px;
  left: 1025px;
  position: absolute;
  top: 80px;
}

.con .overlap-group1-1 {
  height: 856px;
  position: relative;
  width: 640px;
}

.con .conback {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid #707070;
  display: flex;
  height: 856px;
  left: 0;
  min-width: 640px;
  padding: 52.5px 63px;
  position: absolute;
  top: 0;
}

.con .concon {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 36px;
  min-height: 35px;
  white-space: nowrap;
}

.con .conbutton {
  align-items: flex-start;
  display: flex;
  height: 56px;
  left: 192px;
  position: absolute;
  top: 743px;

  border: 0;
  outline: 0;
  background-color: transparent;
}

.con .overlap-group2 {
  height: 56px;
  position: relative;
  width: 258px;
}

.con .x240 {
  background-color: var(--blue-romance);
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 256px;
}

.con .text-4 {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 22px;
  font-weight: 700;
  height: 29px;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 258px;
}

.con .contextarea {
  background-color: var(--white);
  border: 1px solid var(--rhino-2);
  height: 466px;
  left: 50px;
  position: absolute;
  top: 250px;
  width: 541px;
  padding: 10px 10px;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.con .emailinput {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 50px;
  position: absolute;
  top: 160px;
  width: 392px;
}

.con .text-6 {
  color: var(--rhino-2);
  font-family: var(--font-family-komet-regular);
  font-size: var(--font-size-m);
  letter-spacing: 0.56px;
  line-height: 14px;
  margin-top: 2px;
  min-height: 20px;
  white-space: nowrap;
}

.con .emailinputbox {
  color: var(--rhino-2);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: var(--font-size-l);
  font-weight: 300;
  letter-spacing: -0.40px;
  line-height: 32px;
  margin-bottom: -6px;
  margin-top: 10px;
  min-height: 26px;
  opacity: 0.7;
  white-space: nowrap;

  border: 0;
  outline: 0;
}

.con .x18 {
  height: 2px;
  margin-top: 10px;
  object-fit: cover;
  width: 392px;
}

.con .footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 249px;
  width: 1920px;
}

.con .x239 {
  background-color: var(--blue-romance);
  height: 12px;
  width: 1920px;
}

.con .flex-row {
  align-items: center;
  display: flex;
  height: 138px;
  margin-right: 1.0px;
  margin-top: 100px;
  min-width: 1619px;
}

.con .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-bottom: 12.44px;
  min-width: 890px;
}

.con .flex-row-2 {
  align-items: center;
  display: flex;
  height: 110px;
  min-width: 626px;
}

.con .happve-1 {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-extrabold);
  font-size: 50px;
  font-weight: 800;
  height: 70px;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 14.0px;
  width: 194px;
}

.con .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 263px;
  min-height: 110px;
  width: 169px;
}

.con .contact-us {
  letter-spacing: 0.56px;
  line-height: 14px;
  min-height: 20px;
  white-space: nowrap;
}

.con .x236 {
  align-self: flex-end;
  background-color: var(--rhino);
  height: 1px;
  margin-top: 2px;
  width: 160px;
}

.con .address {
  letter-spacing: -0.14px;
  line-height: 20px;
  margin-left: 4px;
  margin-top: 7px;
  min-height: 80px;
  white-space: nowrap;
}

.con .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 83px;
  min-height: 110px;
  width: 181px;
}

.con .links {
  letter-spacing: 0.56px;
  line-height: 14px;
  min-height: 20px;
  white-space: nowrap;
}

.con .x237 {
  align-self: flex-end;
  background-color: var(--rhino);
  height: 1px;
  margin-top: 2px;
  width: 160px;
}

.con .text-2 {
  letter-spacing: -0.14px;
  line-height: 20px;
  margin-left: 7px;
  margin-top: 7px;
  min-height: 80px;
  white-space: nowrap;
}

.con .flex-col-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.22px;
  margin-left: 82px;
  min-height: 129px;
  width: 182px;
}

.con .follow-us {
  letter-spacing: 0.56px;
  line-height: 14px;
  margin-left: 4px;
  min-height: 20px;
  white-space: nowrap;
}

.con .x238 {
  align-self: flex-end;
  background-color: var(--rhino);
  height: 1px;
  margin-top: 2px;
  width: 160px;
}

.con .text-3 {
  letter-spacing: -0.14px;
  line-height: 20px;
  margin-top: 6px;
  min-height: 100px;
  white-space: nowrap;
}

.con .stopeatingm-eat {
  color: var(--rhino);
  font-family: var(--font-family-floodstd-regular);
  font-size: var(--font-size-xxxl);
  letter-spacing: 0;
  line-height: 46px;
  margin-left: 307px;
  min-height: 138px;
  min-width: 158px;
  text-align: right;
  white-space: nowrap;
}

/* screen - header-unknown */

.header-unknown {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  /* width: 1920px; */
  position: fixed;
  z-index: 1;

}

.header-unknown .overlap-group {
  height: 128px;
  position: relative;
  min-width: 1920px;

  margin-top: 0px;
}

.header-unknown .header-buttons {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 128px;
  left: 0;
  padding: 19px 197.5px;
  position: absolute;
  top: 0;
}

.header-unknown .header-title {
  align-self: flex-end;
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-extrabold);
  font-size: 55px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 55px;
  min-height: 69px;
  min-width: 190px;
  text-align: center;
  white-space: nowrap;

  border: 0;
  outline: 0;
  background-color: transparent;
}

.header-unknown .header-commu {
  letter-spacing: -0.18px;
  line-height: 24px;
  margin-left: 717px;
  margin-top: 2.0px;
  min-height: 23px;
  min-width: 88px;
  white-space: nowrap;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;

  border: 0;
  outline: 0;
  background-color: transparent;
}

.header-unknown .header-signup {
  letter-spacing: -0.18px;
  line-height: 24px;
  margin-left: 75px;
  margin-top: 2.0px;
  min-height: 23px;
  min-width: 64px;
  white-space: nowrap;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;

  border: 0;
  outline: 0;
  background-color: transparent;
}

.header-unknown .header-con {
  letter-spacing: -0.18px;
  line-height: 24px;
  margin-left: 75px;
  margin-top: 2.0px;
  min-height: 23px;
  min-width: 64px;
  white-space: nowrap;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;

  border: 0;
  outline: 0;
  background-color: transparent;
}

.header-unknown .header-login {
  align-items: flex-end;
  background-color: var(--blue-romance);
  border-radius: 100px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 75px;
  min-width: 160px;
  padding: 10.5px 55px;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;

  border: 0;
  outline: 0;
}

.header-unknown .header-logintext {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  min-height: 23px;
  min-width: 48px;
  text-align: center;
  white-space: nowrap;
}

.header-unknown .header-search {
  align-items: flex-start;
  display: flex;
  height: 46px;
  left: 429px;
  position: absolute;
  top: 43px;
}

.header-unknown .header-searchdropdown {
  align-items: flex-start;
  background-color: var(--blue-romance);
  border-radius: 100px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  min-width: 74px;
  padding: 15px 23px;

  border: 0;
  outline: 0;
  -webkit-appearance: none;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

.header-unknown .header-searchtextboxtext {
  height: 21px;
  object-fit: cover;
  width: 31px;
}

.header-unknown .header-searchinput {
  align-items: flex-end;
  background-color: var(--blue-romance);
  border-radius: 100px;
  display: flex;
  height: 46px;
  margin-left: 5px;
  min-width: 342px;
  padding: 12px 22px;

  border: 0;
  outline: 0;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: 14px;

}

.header-unknown .header-searchtextboxtext-1 {
  height: 21px;
  object-fit: cover;
  width: 139px;
}

.header-unknown .header-searchbutton {
  align-items: flex-end;
  align-self: flex-end;
  background-color: var(--rhino);
  border-radius: 100px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  margin-left: 11px;
  min-width: 150px;
  padding: 9.5px 49px;

  border: 0;
  outline: 0;
}

.header-unknown .header-searchbuttontext {
  color: var(--blue-romance);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  min-height: 21px;
  min-width: 50px;
  white-space: nowrap;
}
