
/* screen - header-unknown */

.header-unknown {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  /* width: 1920px; */
  position: fixed;
  z-index: 1;
}

.header-unknown .overlap-group {
  height: 128px;
  position: relative;
  min-width: 1920px;

  margin-top: 0px;
}

.header-unknown .header-buttons {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 128px;
  left: 0;
  padding: 19px 197.5px;
  position: absolute;
  top: 0;
}

.header-unknown .header-title {
  align-self: flex-end;
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-extrabold);
  font-size: 55px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 55px;
  min-height: 69px;
  min-width: 190px;
  text-align: center;
  white-space: nowrap;

  border: 0;
  outline: 0;
  background-color: transparent;
}

.header-unknown .header-commu {
  letter-spacing: -0.18px;
  line-height: 24px;
  margin-left: 717px;
  margin-top: 2.0px;
  min-height: 23px;
  min-width: 88px;
  white-space: nowrap;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;

  border: 0;
  outline: 0;
  background-color: transparent;
}

.header-unknown .header-signup {
  letter-spacing: -0.18px;
  line-height: 24px;
  margin-left: 75px;
  margin-top: 2.0px;
  min-height: 23px;
  min-width: 64px;
  white-space: nowrap;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;

  border: 0;
  outline: 0;
  background-color: transparent;
}

.header-unknown .header-con {
  letter-spacing: -0.18px;
  line-height: 24px;
  margin-left: 75px;
  margin-top: 2.0px;
  min-height: 23px;
  min-width: 64px;
  white-space: nowrap;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;

  border: 0;
  outline: 0;
  background-color: transparent;
}

.header-unknown .header-login {
  align-items: flex-end;
  background-color: var(--blue-romance);
  border-radius: 100px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 35px;
  min-width: 160px;
  padding: 10.5px 55px;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;

  border: 0;
  outline: 0;
}

.header-unknown .header-logintext {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  min-height: 23px;
  min-width: 48px;
  text-align: center;
  white-space: nowrap;
}

.header-unknown .header-search {
  align-items: flex-start;
  display: flex;
  height: 46px;
  left: 429px;
  position: absolute;
  top: 43px;
}

.header-unknown .header-searchdropdown {
  align-items: flex-start;
  background-color: var(--blue-romance);
  border-radius: 100px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  min-width: 74px;
  padding: 15px 23px;

  border: 0;
  outline: 0;
  -webkit-appearance: none;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

.header-unknown .header-searchtextboxtext {
  height: 21px;
  object-fit: cover;
  width: 31px;
}

.header-unknown .header-searchinput {
  align-items: flex-end;
  background-color: var(--blue-romance);
  border-radius: 100px;
  display: flex;
  height: 46px;
  margin-left: 5px;
  min-width: 342px;
  padding: 12px 22px;

  border: 0;
  outline: 0;

  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-light);
  font-size: 14px;

}

.header-unknown .header-searchtextboxtext-1 {
  height: 21px;
  object-fit: cover;
  width: 139px;
}

.header-unknown .header-searchbutton {
  align-items: flex-end;
  align-self: flex-end;
  background-color: var(--rhino);
  border-radius: 100px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  margin-left: 11px;
  min-width: 150px;
  padding: 9.5px 49px;

  border: 0;
  outline: 0;
}

.header-unknown .header-searchbuttontext {
  color: var(--blue-romance);
  font-family: var(--font-family-applesd_gothic_neo-bold);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  min-height: 21px;
  min-width: 50px;
  white-space: nowrap;
}

.header-unknown .x3 {
  align-items: flex-end;
  background-color: var(--blue-romance);
  border-radius: 24px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 55px;
  min-width: 48px;
  padding: 6.1px;
}

.header-unknown .icon-awesome-user-circle {
  height: 35px;
  object-fit: cover;
  width: 35px;
}