:root { 
  --blue-romance: #c1f7d5;
  --rhino: #344362;
  --rhino-2: #354463;
  --white: #ffffff;
 
  --font-size-l: 28px;
  --font-size-m: 25px;
  --font-size-s: 18px;
  --font-size-xl: 35px;
  --font-size-xs: 14px;
  --font-size-xxl: 47px;
  --font-size-xxxl: 60px;
 
  --font-family-apple_sd_gothic_neo: "Apple SD Gothic Neo", Helvetica;
  --font-family-applesd_gothic_neo-bold: "AppleSD Gothic Neo-Bold", Helvetica;
  --font-family-applesd_gothic_neo-extrabold: "AppleSD Gothic Neo-ExtraBold", Helvetica;
  --font-family-applesd_gothic_neo-medium: "AppleSD Gothic Neo-Medium", Helvetica;
  --font-family-applesd_gothic_neo-regular: "AppleSD Gothic Neo-Regular", Helvetica;
  --font-family-floodstd: "FloodStd", Helvetica;
  --font-family-floodstd-regular: "FloodStd-Regular", Helvetica;
  --font-family-komet-light: "Komet-Light", Helvetica;
  --font-family-komet-regular: "Komet-Regular", Helvetica;
}
.applesdgothicneo-regular-normal-rhino-35px {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.applesdgothicneo-regular-normal-rhino-25px {
  color: var(--rhino);
  font-family: var(--font-family-applesd_gothic_neo-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.applesdgothicneo-regular-normal-white-25px {
  color: var(--white);
  font-family: var(--font-family-applesd_gothic_neo-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.applesdgothicneo-medium-rhino-18px {
  color: var(--rhino-2);
  font-family: var(--font-family-applesd_gothic_neo-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.komet-regular-normal-rhino-14px {
  color: var(--rhino-2);
  font-family: var(--font-family-komet-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.komet-light-rhino-14px {
  color: var(--rhino-2);
  font-family: var(--font-family-komet-light);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}
